<form class="mt-4">
  <div class="d-flex justify-content-between align-items-center">
    <h3 class="d-block">Khóa học của tôi</h3>
    <a class="d-block btn btn-link" href="/me/trash/courses">Thùng rác ({{deletedCount}})</a>
  </div>

  <div class="d-flex align-items-center mt-2">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="checkbox-all">
      <label class="form-check-label " for="checkbox-all">Chọn tất cả</label>
    </div>
    <select class="form-control-sm mx-2">
      <option value="0">--- Hành động ---</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    <button class="btn btn-primary btn-sm disabled check-all-submit-btn ">Thực hiện</button>
  </div>

  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col" colspan="2">#</th>
        <th scope="col">Name</th>
        <th scope="col">Level</th>
        <th scope="col" colspan="2">Created At</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <th>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
          </div>
        </th>
        <td scope="row">{{sum @index 1}}</td>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
          <a href="#" class="btn btn-link" data-id="{{this._id}}" data-bs-toggle="modal"
            data-bs-target="#delete-course-modal">Xóa</a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">Không có khóa học nào <a href="/courses/create">Tạo khóa học</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</form>

<!-- Confirm delete -->
<div id="delete-course-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa khóa học này</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="confirm-delete">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete hidden form -->
<form name="delete-course-form" method="POST"></form>

<script>
  let checkAllOptions; // Khai báo biến toàn cục

  document.addEventListener('DOMContentLoaded', () => {
    const deleteCourseModal = document.getElementById('delete-course-modal');
    let courseIdToDelete;
    const checkboxAll = $('#checkbox-all');
    const courseItemCheckboxes = $('input[name="courseIds[]"]');
    checkAllOptions = $('.check-all-submit-btn'); // Gán giá trị cho biến toàn cục

    checkboxAll.change(() => {
      const isChecked = checkboxAll.prop('checked');
      courseItemCheckboxes.prop('checked', isChecked);
      renderCheckAllSubmitBtn();
    });

    courseItemCheckboxes.change(() => {
      const isCheckedAll = courseItemCheckboxes.length === $('input[name="courseIds[]"]:checked').length;
      checkboxAll.prop('checked', isCheckedAll);
      renderCheckAllSubmitBtn();
    });

    deleteCourseModal.addEventListener('show.bs.modal', (event) => {
      const button = event.relatedTarget;
      courseIdToDelete = button.getAttribute('data-id');
    });

    document.getElementById('confirm-delete').addEventListener('click', () => {
      if (courseIdToDelete) {
        const form = document.forms['delete-course-form'];
        form.action = `/courses/${courseIdToDelete}?_method=DELETE`;
        form.submit();
      }
    });
  });

  function renderCheckAllSubmitBtn() {
    const checkedCount = $('input[name="courseIds[]"]:checked').length;
    if (checkedCount > 0) {
      checkAllOptions.removeClass('disabled');
    } else {
      checkAllOptions.addClass('disabled');
    }
  }

</script>